amqp==1.4.9
arrow==0.7.0
celery==3.1.19
codecov==1.6.3
cryptography==1.0.2
Cython==0.23.4
cytoolz==0.7.4
decorator==4.0.4
docutils==0.12
fuzzywuzzy==0.8.0
gensim==0.12.2
lxml==3.4.4
nltk==3.1
oauthlib==1.0.3
pandas==0.17.0
praw==3.4.0
pycrypto==2.6.1
pycurl==7.19.5.1
pymongo==3.0.3
pyOpenSSL==0.15.1
pytest==2.8.1
pytest-cov==2.2.1
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
redis==2.10.3
requests==2.9.1
requests-oauthlib==0.6.0
snowballstemmer==1.2.0
textblob==0.11.0
wheel==0.26.0
